*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    background-color: rgb(224, 224, 224);
}
.Main-Container{
    width:100%;
}
.main-container-header{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px #000000;
    background: #FFFFFF;
    padding: 0.5% 0;
}
.burgerIcon{
    width: 87%;
    padding-left: 2%;
}
.burgerIcon img{
    vertical-align: middle;
}
.profileIcon{
    width: 5%;
    text-align: right;
}
.profileIcon img{
    vertical-align: middle;
}
.profileNameDiv{
    text-align: center;
    font-size:0.9vw;
    letter-spacing: 0.9px;
    color: #595959;
    width: 5%;
}
.dropDownIcon{ 
    width: 3%
}
.dropDownIcon img{
    vertical-align: middle;
}


.main-container-body{
    margin: 2%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.28);
}
.main-container-account-div{
    background: #FFFFFF;
    padding: 2%;
    border-bottom: 0.5px solid rgb(240, 234, 234); 
}

.accountsTitle{
    font-size: 0.9vw;
    font-weight: bold;
    color: #505050;
  
}
.accountsDescription{
    font-size: 0.9vw;
    padding-top: 0.7%;
    font-weight:normal;
    color: #505050;
  
}

.main-container-rentInvoice-div{
    background: #FFFFFF;
}
.accountDetails{
    display: flex;
}
.accountsLeftDiv{
    width: 40%;
}
.accountsRightMainDiv{
    width: 60%;
}
.accountsRightSubDiv{
    width: 100%;
}


.rentInvoiceDiv{
    padding: 4%;
    border-bottom: 0.5px solid rgb(240, 234, 234); 
}
.rentInvoiceTitle{
    font-size: 0.9vw;
    font-weight: bold;
    color: #505050;
  
}
.rentInvoiceDescription{
    font-size: 0.9vw;
    padding-top: 0.7%;
    font-weight:normal;
    color: #505050;
  
}


.receiptsDiv{
    padding: 4%;
    border-bottom: 0.5px solid rgb(80, 76, 76); 
    border-right: 0.5px solid rgb(153, 146, 146); 
    background-color: #eeeaea;
}
.receiptsTitle{
    font-size: 0.9vw;
    font-weight: bold;
    color: #505050;
  
}
.receiptsDescription{
    font-size: 0.9vw;
    padding-top: 0.7%;
    font-weight:normal;
    color: #505050;
  
}


.ledgerDiv{
    padding: 4%;
    border-bottom: 0.5px solid rgb(80, 76, 76); 
    border-right: 0.5px solid rgb(153, 146, 146); 
    background-color: #eeeaea;
}
.ledgerTitle{
    font-size: 0.9vw;
    font-weight: bold;
    color: #505050;
  
}
.ledgerDescription{
    font-size: 0.9vw;
    padding-top: 0.7%;
    font-weight:normal;
    color: #505050;
  
}

.billsDiv{
    padding: 4%;
    border-right: 0.5px solid rgb(153, 146, 146); 
    background-color: #eeeaea;
}
.billsTitle{
    font-size: 0.9vw;
    font-weight: bold;
    color: #505050;
  
}
.billsDescription{
    font-size: 0.9vw;
    padding-top: 0.7%;
    font-weight:normal;
    color: #505050;
  
}
.debitOrCreditCardDiv{
    padding: 3%;
}
.debitOrCreditCardTitle{
    font-size: 0.9vw;
    font-weight: bold;
    color: #505050;
}

.cardNumberTitleDiv{
    display: flex;
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-left: 3%;
    padding-top: 1%;
}
.redStar{
    vertical-align: super; 
}
.cardNumberInputBoxDiv{
    width: 100%;
    padding:2% 3%;
}
.cardNumberInputBox{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 2%;
}


.expiryDateAndCvvDiv{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.expiryDatediv{
    padding: 2%;
}

.expiryDateTitleDiv{
    display: flex;
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-left: 3%;
    padding-top: 1%;
}
.expiryDateInputBoxDiv{
    padding: 3%;
}
.expiryDateInputBox{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 4%;
}


.cvvDiv{
    padding: 2%;
}
.cvvTitleDiv{
    display: flex;
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-left: 3%;
    padding-top: 1%;
}
.cvvInputBoxDiv{
    padding: 3% 4% 0 0;
}
.cvvInputBox{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 4%;
}

.cardHolderNameTitleDiv{
    display: flex;
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-left: 3%;
    padding-top: 1%;
}
.cardHolderNameInputBoxDiv{
    width: 100%;
    padding: 2% 3%;
}
.cardHolderInputBox{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding:  2%;
}

.quikPayDiv{
    padding-left: 3%;
}


.accountSubFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 3%;
}
.backButtonDiv{
    width: 60%;
}
.backButtonDiv p{
    color: #32BDD2;
    font-weight: bold;
}
.backButtonSubDiv{
    display: flex;
    align-items: center;
}
.payButtonDiv{
    width: 40%;
    text-align: right;
}
.payButton{
    padding:2% 10%;
    background-color: #32BDD2;
    color:#FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}