*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    background-color: #F6F8F9;
}
.main-container-header{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px #000000;
    background: #FFFFFF;
    padding: 0.5% 0;
}
.burgerIcon{
    width: 87%;
    padding-left: 2%;
}
.burgerIcon img{
    vertical-align: middle;
}
.profileIcon{
    width: 5%;
    text-align: right;

}
.profileIcon img{
    vertical-align: middle;
    border-radius: 50px;
}
.profileNameDiv{
    text-align: center;
    font-size:0.9vw;
    letter-spacing: 0.9px;
    color: #595959;
    width: 5%;
}
.dropDownIcon{ 
    width: 3%
}
.dropDownIcon img{
    vertical-align: middle;
}


.main-container-body{
    margin: 2%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px #00000029;
}
.main-container-Booking-body{
    border-bottom: 0.5px solid rgb(240, 234, 234); 
}
.sub-container-Booking-body{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2%;
}
.BookingDiv{
    width: 94%;
}
.BookingTitle{
    font-size: 0.9vw;
    font-weight: bold;
    color: #505050;
  
}
.BookingDescription{
    font-size: 0.9vw;
    padding-top: 0.9%;
    font-weight:normal;
    color: #505050;
  
}
.BookingRightDiv{
    width: 6%;
}
.OptionsDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    border: 1px solid #b8b6b6;
}

.main-container-BookingDetails-body{
    background: #FFFFFF;
}
.CheckInMainDiv{
    padding: 3% 2%;
}
.CheckInSubDiv{
    border: 1px solid rgb(230, 222, 224);
    background-color: #e7e5e5;
    border-radius: 18px;
}
.CheckInDiv{
    display:flex;
    align-items: center;
    padding: 1%;
    border-bottom: 0.5px solid #b9b5b5;
}
.CheckInButtonDiv{
    width: 20%;
}
.CheckInButton{
    background-color:#FFFFFF;
    color: #000000;
    font-size: 0.7vw;
    padding: 6px 25px;
    border-radius: 25px;
}
.CheckOutButtonDiv{
    width: 80%;
}
.CheckOutButton{
    background-color:#FFFFFF;
    color: #000000;
    font-size: 0.7vw;
    padding: 6px 25px;
    border-radius: 25px;
}
.CheckInDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}
.PackageDiv{
    border-bottom: 1px solid rgb(222, 228, 222);
    padding: 2%;
}
.ChargesDetailsDiv{
    padding: 1%;
}
.AdditionalDetailsSubDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}
