*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    background-color: #F6F8F9;
}
.main-container-header{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px #000000;
    background: #FFFFFF;
    padding: 0.5% 0;
}
.burgerIcon{
    width: 87%;
    padding-left: 2%;
}
.burgerIcon img{
    vertical-align: middle;
}
.profileIcon{
    width: 5%;
    text-align: right;
}
.profileIcon img{
    vertical-align: middle;
    border-radius: 50px;
}
.profileNameDiv{
    text-align: center;
    font-size:0.9vw;
    letter-spacing: 0.9px;
    color: #595959;
    width: 5%;
}
.dropDownIcon{ 
    width: 3%
}
.dropDownIcon img{
    vertical-align: middle;
}


.main-container-body{
    margin: 2%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px #00000029;
}
.sub-container-Booking-body{
    width: 100%;
    float: left;
    padding: 2%;
    border-bottom: 0.5px solid rgb(240, 234, 234); 
}
.BookingDiv{
  width: 80%;
  float: left;
}
.BookingTitle{
    font-size: 0.9vw;
    font-weight: bold;
    color: #505050;
}
.BookingDescription{
    font-size: 0.9vw;
    padding-top: 0.9%;
    color: #505050;
}
.BookingRightDiv{
    float: right;
    padding: 1%;
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.main-container-BookingDetails-body{
    background: #FFFFFF;
}

.FullNameTitle{
    display: flex;
    font-size: 0.8vw;
    color: #4d4c4c;
    padding: 1% 0 1% 2%;
}
.redStar{
    vertical-align: super; 
}
.FullNameDiv{
    width: 100%;
    padding: 1% 2%;
}
.FullNameInputBox{
    width: 28%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 0.8% 1%;
}


.GenderTitle{
    display: flex;
    font-size: 0.8vw;
    color: #4d4c4c;
    padding: 1% 0 1% 2%;
}
.GenderInputBoxDiv{
    width: 100%;
    padding: 1% 2%;
}
.GenderInputBox{
    width: 28%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 0.8% 1%;
}

.PhoneNumberTitle{
    display: flex;
    font-size: 0.8vw;
    color: #4d4c4c;
    padding: 1% 0 1% 2%;
}
.PhoneNumberInputBoxDiv{
    width: 100%;
    padding: 1% 2%;
}
.PhoneNumberInputBox{
    width: 28%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 0.8% 1%;
}

.PromoCodeTitle{
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-left: 2%;
    padding-top: 1%;
}
.PromoCodeInputBoxDiv{
    width: 100%;
    padding: 1% 2%;
}
.PromoCodeInputBox{
    width: 28%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 0.8% 1%;
}


.DiscountDetailsDiv{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 1%;

}
.DiscountValueDiv{
    width: 33%
}
.DiscountValueTitle{
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-left: 2%;
    padding-top: 1%;
}
.DiscountValueInputBoxDiv{
    padding: 1% 2%;
}
.DiscountValueInputBox{
    width: 50%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 2% 1%;
}

.DiscountValueTypeDiv{
    width: 33%
}
.DiscountValueTypeTitle{
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-left: 2%;
    padding-top: 1%;
}
.DiscountValueTypeInputBoxDiv{
    width: 100%;
    padding: 1% 2%;
}
.DiscountValueTypeInputBox{
    width: 50%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 2% 1%;
}

.DiscountTypeDiv{
    width: 33%
}
.DiscountTypeTitle{
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-left: 2%;
    padding-top: 1%;
}
.DiscountTypeInputBoxDiv{
    width: 100%;
    padding: 1% 2%;
}
.DiscountTypeInputBox{
    width: 50%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 2% 1%;
}

.BookingFooter{
    width: 100%;
}

.BookingFooterDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 2% 2% 2%;
    
}
.nextButton{
    background-color: #32BDD2;
    color: #FFFFFF;
    font-size: 0.7vw;
    padding: 6px 25px;
    border-radius: 25px;
}