*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    background-color: #F6F8F9;
}
.main-container-header{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px #000000;
    background: #FFFFFF;
    padding: 0.5% 0;
}
.burgerIcon{
    width: 87%;
    padding-left: 2%;
}
.burgerIcon img{
    vertical-align: middle;
}
.profileIcon{
    width: 5%;
    text-align: right;
}
.profileIcon img{
    vertical-align: middle;
    border-radius: 50px;
}
.profileNameDiv{
    text-align: center;
    font-size:0.9vw;
    letter-spacing: 0.9px;
    color: #595959;
    width: 5%;
}
.dropDownIcon{ 
    width: 3%
}
.dropDownIcon img{
    vertical-align: middle;
}


.main-container-body{
    margin: 2%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px #00000029;
}
.sub-container-Booking-body{
    width: 100%;
    float: left;
    padding: 2%;
    border-bottom: 0.5px solid rgb(240, 234, 234); 
}
.BookingDiv{
  width: 80%;
  float: left;
}
.BookingTitle{
    font-size: 0.9vw;
    font-weight: bold;
    color: #505050;
}
.BookingDescription{
    font-size: 0.9vw;
    padding-top: 0.9%;
    color: #505050;
}
.BookingRightDiv{
    float: right;
    padding: 1%;
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.main-container-BookingDetails-body{
    background: #FFFFFF;
}
.guestInformationDiv{
    padding: 1% 0;
}

.FullNameDiv{
    width: 100%;
    padding: 1% 0;
}
.FullNameTitle{
    display: flex;
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-top: 1%;
}
.redStar{
    vertical-align: super; 
}
.FullNameInputBox{
    width: 28%;
    border-radius: 8px;
    border: 1px solid rgb(196, 194, 194);
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 0.8% 1%;
}


.GenderTitle{
    display: flex;
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-top: 1%;
}
.GenderInputBoxDiv{
    width: 100%;
    padding: 1% 0;
}
.GenderInputBox{
    width: 28%;
    border-radius: 8px;
    border: 1px solid rgb(196, 194, 194);
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 0.8% 1%;
}

.PhoneNumberTitle{
    display: flex;
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-top: 1%;
}
.PhoneNumberInputBoxDiv{
    width: 100%;
    padding: 1% 0;
}
.PhoneNumberInputBox{
    width: 28%;
    border-radius: 8px;
    border: 1px solid rgb(196, 194, 194);
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 0.8% 1%;
}

.PromoCodeTitle{
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-top: 1%;
}
.PromoCodeInputBoxDiv{
    width: 100%;
    padding: 1% 0;
}
.PromoCodeInputBox{
    width: 28%;
    border-radius: 8px;
    border: 1px solid rgb(196, 194, 194);
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 0.8% 1%;
}


.DiscountDetailsDiv{
    display: flex;
    align-items: center;
}
.DiscountValueDiv{
    padding-left: 4%;
}
.DiscountValueTitle{
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-left: 2%;
}
.DiscountValueInputBoxDiv{
    padding: 1% 2%;
}
.DiscountValueInputBox{
    width: 90%;
    border-radius: 8px;
    border: 1px solid rgb(196, 194, 194);
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 2% 1%;
}


.DiscountValueTypeTitle{
    font-size: 0.8vw;
    color: #4d4c4c;
}
.DiscountValueTypeInputBoxDiv{
    width: 90%;
    display: flex;
    border-radius: 8px;
    border: 1px solid rgb(196, 194, 194);
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 2% 1%;
}
.DiscountValueTypeInputBox{
    width: 100%;
    border: none;
}



.DiscountTypeTitle{
    font-size: 0.8vw;
    color: #4d4c4c;
}
.DiscountTypeInputBoxDiv{
    width: 90%;
    display: flex;
    border-radius: 8px;
    border: 1px solid rgb(196, 194, 194);
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 2% 1%;
}
.DiscountTypeInputBox{
    width: 100%;
    border: none;
}

.BookingFooterDiv{
    display: flex;
    align-items: center;
    padding: 4% 2% 2% 2%;  
}
.CancelText{
    width: 95%;
}
.nextButtonDiv{
    width: 5%;
    text-align: center;
}
.nextButtonSubDiv{
    display: flex;
    background-color: #32BDD2;
    align-items: center;
    border-radius: 25px;
    padding: 5%;
}
.nextButton{
    background-color: #32BDD2;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 25px;
}