*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
}
.main-container-header{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px #000000;
    background: #FFFFFF;
    padding: 0.5% 0;
}
.burgerIcon{
    width: 87%;
    padding-left: 2%;
}
.burgerIcon img{
    vertical-align: middle;
}
.profileIcon{
    width: 5%;
    text-align: right;

}
.profileIcon img{
    vertical-align: middle;
    border-radius: 50px;
}
.profileNameDiv{
    text-align: center;
    font-size:0.9vw;
    letter-spacing: 0.9px;
    color: #595959;
    width: 5%;
}
.dropDownIcon{ 
    width: 3%
}
.dropDownIcon img{
    vertical-align: middle;
}

.main-container-body{
    margin: 2%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px #00000029;
}
.mainContainerNewRoleDetailsDiv{
    padding: 2%;
}
.NewRoleDiv{
    padding: 2% 0 2% 2%;
    border-bottom: 0.5px solid rgb(240, 234, 234); 
}
.NewRoleTitle{
    font-size: 0.9vw;
    font-weight: bold;
    color: #505050; 
}
.NewRoleDescription{
    font-size: 0.9vw;
    padding-top: 0.7%;
    font-weight:normal;
    color: #505050;
}


.RoleNameTitle{
    display: flex;
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-top: 1%;
}
.redStar{
    vertical-align: top; 
}
.RoleNameInputBoxDiv{
    width: 100%;
    padding: 1% 0;
}
.RoleNameInputBox{
    width: 28%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 0.8% 1%;
}


.HomePageTitle{
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-top: 1%;
}
.HomePageInputBoxDiv{
    width: 100%;
    padding: 1% 0;
}
.HomePageInputBox{
    width: 28%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 0.8% 1%;
}

.DescriptionTitle{
    font-size: 0.8vw;
    color: #4d4c4c;
    padding-top: 1%;
}
.DescriptionInputBoxDiv{
    width: 100%;
    padding: 1% 0;
}
.DescriptionInputBox{
    width: 28%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgb(197, 194, 194);
    padding: 0.8% 2%;
}

.GrantsDetailsDiv{
    padding: 1% 0;
}
.GrantListMainDiv{
    padding: 1% 0;
}
.GrantsHeading p{
    font-weight: bold;
}
.GrantsListsDiv{
    width: 40%;
    border: 1px solid rgb(228, 223, 223);
    display: flex;
    align-items: center;
    padding: 0.3% 0;
    background-color: rgb(228, 229, 230);
}
.GrantsDropDownIcon{
    width: 7%;
    padding-left: 3%;
}
.GrantsDropDownIcon img{
    vertical-align: middle;
}
.GrantsTitle{
    width: 87%;
}
.GrantsTitle span{
    color: #595959;
    font-size:0.8vw;
    vertical-align: middle;
}
.GrantsCheckBox{
    width: 6%;
}
.uncheckBoxIcon{
    background-color: #FFFFFF;
    vertical-align: middle;
}


.NewRoleFooter{
    width: 100%;
}

.NewRoleFooterDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 0 0 0;  
}
.cancelText p{
    font-size: 0.8vw;
    letter-spacing: 0.6px;
    color: #595959;
    font-weight: bold;
}
.saveButton{
    background-color: #32BDD2;
    color: #FFFFFF;
    font-size: 0.7vw;
    padding: 6px 25px;
    border-radius: 30px;
    font-weight: bold;
}