*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
}
.header{
    box-shadow: 0px 0px 4px #00000029;
    padding: 0.5% 0;
}
.MainContainerBody{
    margin: 2%;
}
.bodyContent{
    background: #FCFCFC ;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%; 
}
.leftContainer{
    background: #FFFFFF;
}
.rightBodyContent{
    margin: 4% 3%;
    background: #FFFFFF;
}
.approvalsPeopleSubheader{
    display: grid;
    grid-template-columns: 81% 15% 4%;
    padding: 2% 3%;
    background-color: #F0F0F0;
}
.approvalsPeopleDiv span{
    font-size: 14px;
    color: #505050;
    font-weight: bold;
}
.approvalsPeopleDiv p{
    font-size: 12px;
    color:#747474;
}
.addApproverDiv{
    align-self: center;
    text-align: right;
}
.addApproverDiv span{
    text-align: center;
    font-size: 12px;
    color: #505050;
    font-weight: bold;
}
.AddIconDiv{
    align-self: center;
    text-align: center;
}
.approvalsBody{
    border: 1px solid #F0F0F0;
}
.approvalsContent{
    margin-top: 6%;
}
.approvalsList{
    width: 70%;
    margin: 1% 3% 2% 3%;
    display: grid;
    grid-template-columns: 8% 87% 5%; 
    padding: 1% 2% 1% 3%;
    background: #F4F8FA;
    border: 1px solid #D5E2E8;
}
#profileIcon{
    border-radius: 50px;
}
.profilePictureDiv{
    align-self: center;
}
.profileNameDiv{
    align-self: center;
}
.profileNameDiv span{
    font-size: 12px;
    color:#747474;
}
.profileNameDiv p{
    align-self: center;
    font-size: 10px;
    color:#909090;
}
.deleteIconDiv{
    align-self: center;
}
.footer{
    display: grid;
    grid-template-columns: 84% 10% 6%;
    margin: 10% 0 4% 0;
}
.savedraft{
    align-self: center;
    font-size: 0.9vw;
    font-weight: bold;
}
.backButton{
    align-self: center;
    font-size: 0.9vw;
    font-weight: bold;
    color: #32BDD2;
}
.nextButtonSubDiv{
    border-radius: 29px;
    display: grid;
    grid-template-columns: 15fr 6fr;
    background: #32BDD2;
    padding: 4px 8px;
}
.nextDiv{
    text-align: center;
}
#nextBtn{
    background: #32BDD2;
    color: #FFFFFF;
    border: none;
}

