*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
}
.header{
    box-shadow: 0px 0px 4px #00000029;
    padding: 0.5% 0;
}
.SubContainerBody{
    margin: 2%;
}
.bodyContent{
    background: #FCFCFC ;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%; 
}
.leftContainer{
    background: #FFFFFF;
}
.rightBodyContent{
    margin: 4% 3%;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
}
.invitePeopleSubheader{
    display: grid;
    grid-template-columns: 88% 8% 4%;
    padding: 2% 3%;
    background-color: #F0F0F0;
}
.AddPeopleDiv{
    align-self: center;
}
.AddPeopleDiv span{
    text-align: right;
}
.AddIconDiv{
    align-self: center;
}
#deleteIcon{
    border-radius: 50px;
}
.peopleList1{
    width: 70%;
    margin: 4% 3% 3% 4%;
    display: grid;
    grid-template-columns: 8% 87% 5%; 
    padding: 1% 2% 0 3%;
    background: #F4F8FA;
    border: 1px solid #D5E2E8;
}
.footer{
    display: grid;
    grid-template-columns: 85% 5% 10%;
    margin: 10% 3% 4% 3%;
}
.savedraft{
    align-self: center;
    font-size: 0.9vw;
    font-weight: bold;
}
.backButton{
    align-self: center;
    font-size: 0.9vw;
    font-weight: bold;
    color: #32BDD2;
}
.nextButton{
    text-align: right;  
    font-weight: bold;  
}
#nextBtn{
    background: #32BDD2;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 5px 10px;
}
