*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
}
.header{
    box-shadow: 0px 0px 4px #00000029;
    padding: 0.5% 0;
}
.MainContainerBody{
    margin: 2%;
}
.bodyContent{
    background: #FCFCFC ;
    width: 100%;
    display: grid;
    grid-template-columns: 10fr 90fr; 
}
.leftContainer{
    background: #FFFFFF;
}
.rightBodyContent{
    margin: 4% 3%;
    background: #FFFFFF;
}
.requisitionAttachmentMainHeader{
    display: grid;
    padding: 2% 3%;
    background-color: #F0F0F0;
}
.attachmentBody{
    border: 1px solid #F0F0F0;
}
.attachmentBodyContent{
    width: 40%;
    margin:5% 0 13% 3%;
    border: 1px solid #DFEBEF;
    float: left;
}
.leftAttachmentDiv{
    float: left;
    width: 50%;
    padding: 2%;
}
.leftAttachmentDiv span{
    color: #000000;
    font-size: 10px;
}
.dottedDiv{
   border: 2px dashed #FFFFFF ; 
   text-align: center;
   padding: 4% 0;
   border-radius: 4px;
}
.dottedDiv p{
color: #FFFFFF;
font-size: 10px;
}
.leftAttachmentDiv p{
    color: #747474;
    font-size: 10px;
    }
.browseButton{
    background-color: #32BDD2;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 2% 3%;
    border: none;
    margin-top: 2%;
}
.rightAttachmentDiv{
    float: left;
    width: 50%;
    padding: 2%;
    background-color: #32BDD2;
}
.footer{
    display: grid;
    grid-template-columns: 84fr 10fr 6fr;
    margin: 10% 0 4% 0;
}
.savedraft{
    align-self: center;
    font-size: 0.9vw;
    font-weight: bold;
}
.backButton{
    align-self: center;
    font-size: 0.9vw;
    font-weight: bold;
    color: #32BDD2;
}
.nextButtonSubDiv{
    border-radius: 29px;
    display: grid;
    grid-template-columns: 15fr 6fr;
    background: #32BDD2;
    padding: 4px 8px;
}
.nextDiv{
    text-align: center;
}
#nextBtn{
    background: #32BDD2;
    color: #FFFFFF;
    border: none;
}