*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
}
.header{
    box-shadow: 0px 0px 4px #00000029;
    padding: 0.5% 0;
    background: #FFFFFF;
}
.MainContainerBody{

    margin: 2%;
}
.bodyContent{
    background: #FCFCFC ;
    width: 100%;
    display: grid;
    grid-template-columns: 10fr 90fr; 
}
.leftContainer{
    background: #FFFFFF;
}
.rightBodyContent{
    margin: 4% 3%;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
}
.itemSubheader{
    display: grid;
    grid-template-columns: 86fr 10fr 4fr;
    padding: 2% 3%;
    background-color: #F0F0F0;
}
.AddItemsDiv{
    align-self: center;
}
.itemsDiv p{
color: #747474;
font-size: 12px;
}
.AddItemsDiv span{
    text-align: right;
    color: #505050;
}
.AddIconDiv{
    align-self: center;
}
.itemList1{
    border-bottom: 0.5px solid #f7f0f0;
    display: grid;
    grid-template-columns: 45fr 15fr 22fr 14fr 3fr;
    padding: 4% 3%;
}
.footer{
    display: grid;
    grid-template-columns: 84fr 10fr 6fr;
    margin: 10% 0 4% 0;
}
.savedraft{
    align-self: center;
    font-size: 0.9vw;
    font-weight: bold;
}
.backButton{
    align-self: center;
    font-size: 0.9vw;
    font-weight: bold;
    color: #32BDD2;
}
.nextButtonSubDiv{
    border-radius: 29px;
    display: grid;
    grid-template-columns: 15fr 6fr;
    background: #32BDD2;
    padding: 4px 8px;
}
.nextDiv{
    text-align: center;
}
#nextBtn{
    background: #32BDD2;
    color: #FFFFFF;
    border: none;
}